
# {{ libvirt_qemu.cgroup | default({}) }}
{% if libvirt_qemu.cgroup is defined and
      libvirt_qemu.cgroup | count > 0 %}
  {% if libvirt_qemu.cgroup.controllers is defined and
        libvirt_qemu.cgroup.controllers | count > 0 %}
    {% set _attr = [ "cpu", "devices", "memory", "blkio", "cpuset", "cpuacct" ] %}
    {% set _controllers = libvirt_qemu.cgroup.controllers | cgroup_controllers() %}
cgroup_controllers        = [ "{{ _controllers | join('", "') }}" ]
  {% endif %}
  {% if libvirt_qemu.cgroup.device_acl is defined and
        libvirt_qemu.cgroup.device_acl | count > 0 %}
cgroup_device_acl         = [ "{{ libvirt_qemu.cgroup.device_acl | join('", "') }}" ]

# RDMA migration requires the following extra files to be added to the list:
#   "/dev/infiniband/rdma_cm",
#   "/dev/infiniband/issm0",
#   "/dev/infiniband/issm1",
#   "/dev/infiniband/umad0",
#   "/dev/infiniband/umad1",
#   "/dev/infiniband/uverbs0"
  {% endif %}
{% endif %}
