
{% if libvirt_qemu.chardev is defined and
      libvirt_qemu.chardev | count > 0 %}
  {% if libvirt_qemu.chardev.tls is defined and
        libvirt_qemu.chardev.tls | string | length > 0 %}
chardev_tls                   = {{ libvirt_qemu.chardev.tls | bool | ternary('1', '0') }}
  {% endif %}
  {% if libvirt_qemu.chardev.tls_x509_cert_dir is defined and
        libvirt_qemu.chardev.tls_x509_cert_dir | string | length > 0 %}
chardev_tls_x509_cert_dir     = "{{ libvirt_qemu.chardev.tls_x509_cert_dir }}"
  {% endif %}
  {% if libvirt_qemu.chardev.tls_x509_verify is defined and
        libvirt_qemu.chardev.tls_x509_verify | string | length > 0 %}
chardev_tls_x509_verify       = {{ libvirt_qemu.chardev.tls_x509_verify | bool | ternary('1', '0') }}
  {% endif %}
  {% if libvirt_qemu.chardev.tls_x509_secret_uuid is defined and
        libvirt_qemu.chardev.tls_x509_secret_uuid | string | length > 0 %}
chardev_tls_x509_secret_uuid  = "{{ libvirt_qemu.chardev.tls_x509_secret_uuid }}"
  {% endif %}
{% endif %}
{#
# Enable use of TLS encryption on the chardev TCP transports.
#
# It is necessary to setup CA and issue a server certificate
# before enabling this.
#
#chardev_tls = 1


# In order to override the default TLS certificate location for character
# device TCP certificates, supply a valid path to the certificate directory.
# If the provided path does not exist, libvirtd will fail to start.
# If the path is not provided, but chardev_tls = 1, then the
# default_tls_x509_cert_dir path will be used.
#
#chardev_tls_x509_cert_dir = "/etc/pki/libvirt-chardev"


# The default TLS configuration only uses certificates for the server
# allowing the client to verify the server's identity and establish
# an encrypted channel.
#
# It is possible to use x509 certificates for authentication too, by
# issuing an x509 certificate to every client who needs to connect.
#
# Enabling this option will reject any client that does not have a
# certificate (as described in default_tls_x509_verify) signed by the
# CA in the chardev_tls_x509_cert_dir (or default_tls_x509_cert_dir).
#
# If this option is not supplied, it will be set to the value of
# "default_tls_x509_verify". If "default_tls_x509_verify" is not supplied either,
# the default is "1".
#
#chardev_tls_x509_verify = 1


# Uncomment and use the following option to override the default secret
# UUID provided in the default_tls_x509_secret_uuid parameter.
#
# NB This default all-zeros UUID will not work. Replace it with the
# output from the UUID for the TLS secret from a 'virsh secret-list'
# command and then uncomment the entry
#
#chardev_tls_x509_secret_uuid = "00000000-0000-0000-0000-000000000000"
#}
