
{% if libvirt_qemu.security.drivers is defined and
      libvirt_qemu.security.drivers | count > 0 and
      libvirt_qemu.security.drivers | security_drivers(["selinux","apparmor"]) %}
security_driver           = [ "{{ libvirt_qemu.security.drivers | join('", "') }}" ]
{% else %}
security_driver           = "none"
{% endif %}
{% if libvirt_qemu.security.default_confined is defined %}
security_default_confined = {{ libvirt_qemu.security.default_confined | bool | ternary('1', '0') }}
{% endif %}
{% if libvirt_qemu.security.require_confined is defined %}
security_require_confined = {{ libvirt_qemu.security.require_confined | bool | ternary('1', '0') }}
{% endif %}
