
{% if libvirt_qemu.spice is defined and
      libvirt_qemu.spice | count > 0 %}
  {% if libvirt_qemu.spice.tls is defined %}
spice_tls                 = {{ libvirt_qemu.spice.tls | bool | ternary('1', '0') }}
  {% endif %}
  {% if libvirt_qemu.spice.tls_x509_cert_dir is defined and
        libvirt_qemu.spice.tls_x509_cert_dir | string | length > 0 %}
spice_tls_x509_cert_dir   = "{{ libvirt_qemu.spice.tls_x509_cert_dir }}"
  {% endif %}
  {% if libvirt_qemu.spice.auto_unix_socket is defined %}
spice_auto_unix_socket    = {{ libvirt_qemu.spice.auto_unix_socket | bool | ternary('1', '0') }}
  {% endif %}
  {% if libvirt_qemu.spice.password is defined and
        libvirt_qemu.spice.password | string | length > 0 %}
spice_password            = "{{ libvirt_qemu.spice.password }}"
  {% endif %}
  {% if libvirt_qemu.spice.sasl is defined %}
spice_sasl                = {{ libvirt_qemu.spice.sasl | bool | ternary('1', '0') }}
  {% endif %}
  {% if libvirt_qemu.spice.sasl_dir is defined and
        libvirt_qemu.spice.sasl_dir | string | length > 0 %}
spice_sasl_dir            = "{{ libvirt_qemu.spice.sasl_dir }}"
  {% endif %}
{% endif %}
